@model List<ProyectoGym.Models.PagosViewModel>

<h2>Pagos</h2>

<div class="container mt-5">
    <h2 class="text-center mb-5">Consulta de Pagos</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="p-3">Usuario</th>
                    <th class="p-3">Monto</th>
                    <th class="p-3">Fecha del pago</th>
                    <th class="p-3">Metodo de pago</th>
                </tr>
            </thead>
            <tbody>
        @foreach (var pagos in Model)
        {
            <tr>
                        <td class="p-3">@pagos.UsuarioNombre</td>
                        <td class="p-3">@pagos.Monto</td>
                        <td class="p-3">@pagos.FechaPago.ToShortDateString()</td>
                        <td class="p-3">@pagos.MetodoPago</td>
                        <td class="p-3">
                    <a asp-action="EliminarPago" asp-controller="Pagos" asp-route-id="@pagos.PagoID" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

        <a href="@Url.Action("RegistrarPago","Pagos")" class="btn btn-primary">Registrar Nuevo Pago</a>
