@model List<ProyectoGym.Models.VentaViewModel>

<h2>Ventas</h2>

<div class="container mt-5">
    <h2 class="text-center mb-5">Consulta de Ventas</h2>
    <div class="d-flex justify-content-end mb-3">
        <a asp-action="GenerarReporteVentas" asp-controller="Ventas" class="btn btn-success">Descargar Reporte en PDF</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="p-3">Usuario</th>
                    <th class="p-3">Producto</th>
                    <th class="p-3">Cantidad</th>
                    <th class="p-3">Monto</th>
                    <th class="p-3">Fecha de la Venta</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var venta in Model)
                {
                    <tr>
                        <td class="p-3">@venta.UsuarioNombre</td>
                        <td class="p-3">@venta.ProductoNombre</td>
                        <td class="p-3">@venta.Cantidad</td>
                        <td class="p-3">@venta.Total</td>
                        <td class="p-3">@venta.FechaVenta</td>
                        <td class="p-3">
                            <a asp-action="EliminarVenta" asp-controller="Ventas" asp-route-id="@venta.VentaID" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a href="@Url.Action("RegistrarVenta","Ventas")" class="btn btn-primary">Registrar Nueva Venta</a>
